$font-family-open-sans:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-open-sans;
$fa-font-path:   "~font-awesome/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

html, body {
    height: 100%;
    width: 100%;
}

@include media-breakpoint-down(md) {
    .card-columns {
        column-count: 1;
    }
}

.section {
    padding: 100px 0;

    h1.header {
        text-align: center;
        font-weight: 100;
        font-size: 44px;
        line-height: 2;
        position: relative;

        padding-bottom: 25px;
        margin-bottom: 50px;
        color: #555;

        &::after {
            content: " ";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);

            width: 30px;
            border: 0;
            border-top: 3px solid #DB2F5F;
        }
    }

    .text {
        font-size: 24px;
        font-weight: 300;
    }
}

@import "./navbar/main";
@import "./header/main";
@import "./information/main";
@import "./groups/main";
@import "./footer/main";

