#header {
    height: 100%;
    width: 100%;
    padding: 0 25px;
    background-image: linear-gradient(to top, #DB2F5F, #F5364C);

    .container {
        height: 100%;
        width: 100%;

        .row {
            height: 100%;
            width: 100%;

            .text {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);

                font-weight: 100;
                font-size: 68px;
                text-align: center;
                color: #fefefe;

                h1 {
                    font-size: 68px;
                    font-weight: 900;
                    display: inline-block;
                }
            }
        }
    }

    .arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        margin-top: -50px;
        color: #fefefe;
        font-size: 32px;
        text-decoration: none !important;
    }
}

