#header {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #DB2F5F, #F5364C);

    .container {
        height: 100%;
        width: 100%;

        .row {
            height: 100%;
            width: 100%;

            .text {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);

                font-weight: bolder;
                font-size: 4.25em;
                text-align: center;
                color: #fefefe;
                letter-spacing: 1px;

                span {
                    font-weight: 100;
                }

                @include media-breakpoint-down(md) {
                    & {
                        font-size: 3em;
                    }
                }
            }
        }
    }
}

