
#footer {
    padding: 50px 0;

    h1 {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #b7c2c9;
        margin: 0 0 35px 0;
        letter-spacing: 1px;
        line-height: 16px;
    }

    .last-words {

    }

    .contact {
        font-size: 24px;
        font-weight: 100;
    }

    .last-line {
        padding-top: 20px;
        color: #999;
        font-weight: 100;
    }
}