<div class="container" ng-controller="groups.controller as groupsCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="header">Kardeş Gruplar</h1>
        </div>

        <div class="col-xs-12">
            <div class="card-columns">
                <div class="card" ng-repeat="group in groups | orderBy: '-memberCount' ">
                    <div class="card-block">
                        <div class="card-title">{{group.name}}</div>
                        <p class="card-text">{{group.description}}</p>
                        <p class="card-text languages">
                            <span ng-repeat="language in group.languages"
                                class="label label-default language">
                                {{language}}
                            </span>
                        </p>
                        <p class="card-text member-count">
                            <small class="text-muted">+{{group.memberCount | number}} kişi</small>
                        </p>
                        <a class="card-link" ng-href="{{group.link}}" target="_blank">
                            Katıl
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

